body {
	font-family: monospace;
	background-color: BLACK;
	color: #33ff33;
}

ul#playlist {
	border: 2px solid #33ff33;
	
	margin-top: 10px;
	padding: 0px;
	list-style-type: none;
}

ul#playlist li {
	border-bottom: 1px solid #33ff33;
	padding: 10px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
    background-image: -moz-linear-gradient(black, #000000);
    background-image: -ms-linear-gradient(#000000, #000000);
    background-image: -o-linear-gradient(#000000, #000000);
    background-image: -webkit-linear-gradient(#000000, #000000);
    background-image: linear-gradient(#000000, #000000);
}

ul#playlist li:last-child {
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom: none;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
ul#playlist li:first-child {
	-webkit-border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.addbutton {
    color: #33ff33;
}